body,
html {
  height: 100%;
}
/* nav bar */
.navbar {
  position: fixed;
  margin-top: 0;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  float: left;
  width: 100%;
  z-index: 1.5;
}
.nav-item {
  font-size: large;
  padding-left: 70px;
  padding-right: 70px;
}
/* weather section */
.weather-info-container {
  position: relative;
  font-size: large;
  font-weight: bold;
  color: #343a40;
}
#weatherIcon {
  /* background-color: #cccecf; */
  height: 30px;
  width: 30px;
}
/* search section */
.search-section {
  border: solid 2px black;
  position: relative;
  width: 100%;
  height: 58%;
}
#search-bar-and-submit-btn {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  left: 15%;
  top: 10%;
  align-items: center;
  display: block;
  margin: 0 auto;
  z-index: 1;
}
.search-bar-background-pic {
  position: relative;
  width: 100%;
  z-index: 0;
}
#search-bar-background-pic {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .search-bar-background-pic {
    opacity: 0;
  }
}
/* display section */
#display-section {
  border: solid 2px black;
  position: relative;
  width: 100%;
}
#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 41em;
  overflow: scroll;
}
.card-text-container {
  height: 7em;
  overflow: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}
.price-level {
  font-style: italic;
  font-weight: bold;
}
#restaurants-title {
  text-align: center;
}
#map-title {
  text-align: center;
}
/* footer section */
.footer {
  position: relative;
  bottom: 0;
}
#copyright-text {
  font-size: medium;
}

#map_container {
  width: 95%;
  height: 35em;
}

.card {
  margin-bottom: 1em;
}

.mapIcon {
  width: 14em;
}

.mapboxgl-popup {
  text-align: center;
}

.btn-div {
  display: flex;
  justify-content: space-between;
  color: white;
}

/* Presentation Page */

.google-slides-container{
  position: relative;
  width: 100%;
  padding-top: 70%;
  overflow: hidden;
}

.google-slides-container iframe{
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 95vh;
}
